<form action="/answer" method="get">
  <div class="form-group col-xs-8">
    <input type="text" class="form-control" name="question">
  </div>
    <input type="submit" class="btn btn-primary" value="Ask">
</form>


